# KiCad Lib
*.bak
*.bck
*.dcm

# Log files
/src/Pi/log.txt

# Catkin ws
/src/Pi/catkin_ws/build
/src/Pi/catkin_ws/devel
/src/Pi/catkin_ws/install

# Object files
*.o
*.obj
*.elf

# Executables
*.hex

# Pictures
*.jpg

# LTspice
*.log
*.plt
*.raw

# Python/src
*.pyc
*.iml

# Misc
*.desktop