<!DOCTYPE html>
<html lang="en">
<head>
    <title>Robot Cam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src='static/lib/lquery.js'></script>
    <script type="text/javascript" src='static/js/const.js'></script>
    <script type="text/javascript" src='static/js/communicator.js'></script>
    <script type="text/javascript" src='static/js/moveController.js'></script>

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/custom.css">
</head>

<script language="javascript">
    function colorChanged(value) {
        var rgb = L.hexToRgb(value);
        communicator.sendAction('ear/color/' + rgb.r + '/' + rgb.g + '/' + rgb.b)
    }
</script>

<body onload="communicator.initVideo()" style="position: relative">
<span id="posIndicator" style="position: absolute; top: 0px; left: 0px; z-index: 10; display: none">
    <span class="circle" style="position: absolute; top: -7px; left: -7px; color: red;"></span>
</span>
<div class="container">
    <div>
        <h1 class="inline">RoboFriend</h1>
        <span id="batIndicator" class="inline">Akku:{{ battery }} %</span>
    </div>
    <div class="row">
        <div id="camContainer" class="six columns">
            <div class="center-div" style="position: relative">
                <span style="position: absolute; width: 100%; left: 0; top: 40%">Live view loading...</span>
                <img id="webcamPlaceholder" src="static/img/placeholder.png" style="width: 80%; border: solid 1px; z-index: -1; border-radius: 5px"/>
                <img id="webcam" style="width: 80%; position: absolute; left: 10%; top: 1px; border-radius: 5px"/>
            </div>
            <div class="center-div">
                <div id="navigation-box" class="navigation-box" onmousedown="moveController.clickstart(event, CONST.DIR_NONE)" ontouchstart="moveController.clickstart(event, CONST.DIR_NONE)">
                    <input class="button navbutton" style="top:0px; left: 90px; z-index: 1" type="image" onmousedown="moveController.clickstart(event, CONST.DIR_UP)" onkeydown="moveController.clickstart(event, CONST.DIR_UP)" ontouchstart="moveController.clickstart(event, CONST.DIR_UP)" ondragstart="moveController.doNothing(event)" src="./static/img/forward.svg">
                    <input class="button navbutton" style="top:115px; left: 0px" type="image" onmousedown="moveController.clickstart(event, CONST.DIR_LEFT)" onkeydown="moveController.clickstart(event, CONST.DIR_LEFT)" ontouchstart="moveController.clickstart(event, CONST.DIR_LEFT)" ondragstart="moveController.doNothing(event)" src="./static/img/left.svg">
                    <input class="button navbutton" style="top:115px; left: 180px" type="image" onmousedown="moveController.clickstart(event, CONST.DIR_RIGHT)" onkeydown="moveController.clickstart(event, CONST.DIR_RIGHT)" ontouchstart="moveController.clickstart(event, CONST.DIR_RIGHT)" ondragstart="moveController.doNothing(event)" src="./static/img/right.svg">
                    <input class="button navbutton" style="top:230px; left: 90px" type="image"  onmousedown="moveController.clickstart(event, CONST.DIR_DOWN)" onkeydown="moveController.clickstart(event, CONST.DIR_DOWN)" ontouchstart="moveController.clickstart(event, CONST.DIR_DOWN)" ondragstart="moveController.doNothing(event)" src="./static/img/reverse.svg">
                    <div id="posIndicatorHelpers" style="display: none">
                        <div style="position: absolute; top: 250px; left: 10px; font-family: 'Courier New'">
                            <div class="text-left">X: <span id="livePosX"></span></div>
                            <div class="text-left">Y: <span id="livePosY"></span></div>
                        </div>
                        <span class="circle" style="position: absolute; top: 143px; left: 143px; background-color: lightgray;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="six columns">
            <h2>Actions</h2>
            <div class="row">
                <label class="two columns">Sounds</label>
                <div class="ten columns">
                    <button type="submit" onclick="communicator.sendAction('sound%3Bplay%3Bdata%252F%3Bmood')" name="sound"> Mood Sound </button>
                    <button type="submit" onclick="communicator.sendAction('sound%3Bplay%3Bdata%252Ffabibox%252F%3Brandom')" name="sound2"> Random Sound </button>
                </div>
            </div>
            <div class="row">
                <label class="two columns">Camera</label>
                <div class="ten columns">
                    <button type="submit" onclick="communicator.sendAction('camera/up')" name="camUp"> Camera UP </button>
                    <button type="submit" onclick="communicator.sendAction('camera/down')" name="camDown"> Camera DOWN </button>
                </div>
            </div>
            <div class="row">
                <label class="two columns">Speak</label>
                <div class="ten columns">
                    <button type="submit" onclick="communicator.say('hello')" name="speech"> Say Hello </button>
                    <button type="submit" onclick="communicator.say('I like you')" name="speech"> Say I like you </button>
                    <button type="submit" onclick="communicator.say('You look funny')" name="speech"> You look funny </button>
                </div>
            </div>
            <div class="row">
                <input id="customText" type="text" maxlength="" class="eight columns offset-by-two">
                <button onclick="communicator.say(L('#customText').value)"> Say </button>
            </div>
            <div class="row">
                <label class="two columns">Eyes</label>
                <div class="ten columns">
                    <button type="submit" onclick="communicator.sendAction('face%3Beyes%3Bup')" name="lookUp"> Look up </button>
                    <button type="submit" onclick="communicator.sendAction('face%3Beyes%3Bdown')" name="lookDown"> Look down </button>
                    <button type="submit" onclick="communicator.sendAction('face%3Beyes%3Bleft')" name="lookLeft"> Look left </button>
                    <button type="submit" onclick="communicator.sendAction('face%3Beyes%3Bright')" name="lookRight"> Look right </button>
                </div>
            </div>
            <div class="row">
                <label for="colorPicker" class="two columns">Ear color</label>
                <div class="ten columns">
                    <input id="colorPicker" type="color" onchange="colorChanged(this.value)"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
