<launch>
	<node pkg="robofriend" type="PCBSensorData.py" name="robofriend_pcb_sensor_data" output="screen">
	</node>

	<node pkg="robofriend" type="Talker_node.py" name="robofriend_talker" output="screen">
	</node>
	<node pkg="robofriend" type="RoboBrain_node.py" name="robofriend_robobrain" output="screen">
	</node>
	<node pkg="robofriend" type="PathPlanner_node.py" name="robofriend_pathplanner" output="screen">
	</node>
</launch>
